version: "3.9"

services:
  mongo:
    image: mongo:6
    container_name: mean-mongo
    restart: always
    volumes:
      - mongo-data:/data/db
    ports:
      - "27017:27017"

  backend:
    image: YOUR_DOCKERHUB_USERNAME/mean-backend:latest
    container_name: mean-backend
    restart: always
    environment:
      - MONGO_URI=mongodb://mongo:27017/mean-crud-db
      - PORT=3000
    depends_on:
      - mongo

  frontend:
    image: YOUR_DOCKERHUB_USERNAME/mean-frontend:latest
    container_name: mean-frontend
    restart: always
    depends_on:
      - backend

  nginx:
    image: nginx:latest
    container_name: mean-nginx
    restart: always
    ports:
      - "80:80"
    depends_on:
      - frontend
      - backend
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro

volumes:
  mongo-data:
